<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Captive Portal Giriş</title>
</head>
<body>
    <h1>Captive Portal'a Hoşgeldiniz</h1>
    <form action="/login" method="post">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Giriş Yap">
    </form>
</body>
</html>
